@{
    ViewData["Title"] = "CreditCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .button {
        border: none;
        color: #FAFDD6;
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1 {
        background-color: #FAFDD6;
        color: black;
        border: 2px solid #A2B38B;
    }

        .button1:hover {
            background-color: #A2B38B;
            color: black;
        }
</style>

<div class="container">
    <div class="row">

        <div class="col align-self-center">
            
        </div>

        <div class="col align-self-center">
            <div class="text-center">
                <br>
                <h1 class="text-danger"> Address</h1>
                <textarea rows="4" cols="50"></textarea>
                <br><br>

                <br>

            </div>
        </div>

        <div class="col align-self-center">

        </div>

    </div>

    <div class="row">

        <div class="col align-self-center">
       
        </div>

        <div class="col align-self-center">
            <h1 class="text-danger"> Info of Credit Card </h1>

        </div>

        <div class="col align-self-center">

        </div>

    </div>

    <div class="row">

        <div class="col align-self-center">

        </div>

        <div class="col align-self-center">
            <form action="">
                <label for="fname">Card Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" id="fname" name="fname"><br>
                <label for="fname">Card Number:&nbsp;&nbsp;</label>
                <input type="text" id="fname" name="fname" maxlength=16><br>
                <label for="lname">Card Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" id="lname" name="lname" size=4 maxlength=4><br>
                                                                              <label for="lname">CVC Number:&nbsp;&nbsp;&nbsp;</label>
                <input type="text" id="lname" name="lname" size=4 maxlength=4><br><br>
                <button class="button button1">Purchase Now</button>

            </form>
        </div>

        <div class="col align-self-center">
            
        </div>

    </div>
</div>

