@{
    ViewData["Title"] = "Home page";
}

<style>
    .button {
        border: none;
        color: #FAFDD6;
        padding: 12px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1 {
        background-color: #FAFDD6;
        color: black;
        border: 2px solid #A2B38B;
    }

        .button1:hover {
            background-color: #A2B38B;
            color: black;
        }
</style>

<div class="text-center">
    <br>
    <h1 class="display-4">IN HIGH DEMAND</h1>
    <br> <br>

    <h1> </h1>
    <p></p>

    <div class="row fh5co-feature">

        <div class="col-md-6 col-md-push-6">
            <div class="fh5co-copy">
                <div class="fh5co-copy-inner">
                    <p></p>
                    <h2>Keep It Simple</h2>
                    <h5>Darius Land</h5>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <p style="font-size:20px">7$</p>

                    <a asp-area="" asp-controller="Home" asp-action="CreditCard">
                        <button class="button button1" type="button">
                            Purchase Now
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-md-pull-6">
            <div class="fh5co-img text-right">
                <figure class="fh5co-figure animate-box">
                    <img class="img-2" src="book_white.png" style="max-width:90%">

                </figure>
            </div>
        </div>
    </div>
    <h1> </h1>
    <br> <br> <br> <br>

    <div class="row fh5co-feature">
        <div class="col-md-6 col-md-pull-6">
            <div class="fh5co-img text-right">
                <figure class="fh5co-figure animate-box">
                    <img class="img-2" src="book_black.png" style="max-width:90% ">

                </figure>
            </div>
        </div>

        <div class="col-md-6 col-md-push-6">
            <div class="fh5co-copy">
                <div class="fh5co-copy-inner">
                    <p></p>
                    <h2>Keep It Simple</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <a asp-area="" asp-controller="Home" asp-action="CreditCard">
                        <button class="button button1" type="button">
                            Purchase Now
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>